<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to parkings_path, class: "navbar-brand" do %>
    <div class="navbar-logo navbar-icon <%= active_class(parkings_path) %>">
      <i class="fas fa-biking"></i>
    </div>
  <% end %>
  <%= link_to new_parking_path, class: "navbar-brand" do %>
    <div class="navbar-icon <%= active_class(new_parking_path) %>">
      <i class="fas fa-plus"></i>
    </div>
  <% end %>
  <%= link_to notifications_path, class: "navbar-brand" do %>
    <div class='navbar-icon notification-icon <%= active_class(notifications_path) %>'>
      <i class="fas fa-bell"></i>
      <% unless current_user.unread_count == 0 %>
        <div class="notification-badge">
          <%= current_user.unread_count %>
        </div>
      <% end %>
    </div>
  <% end %>
  <%= link_to profile_user_path(current_user), class: "navbar-brand" do %>
    <div class='navbar-icon <%= active_class(profile_user_path(current_user)) %>'>
      <i class="fas fa-user"></i>
    </div>
  <% end %>
</div>
