<div class='form-container'>
  <h2>Found a cool spot?</h2>
  <h5>Help the community and add yours</h5>
  <%= simple_form_for @parking do |f| %>
    <%= f.input :name, label: 'Name your parking spot:' %>
    <%= f.input :address, label: 'Address:' %>
    <%= f.input :description, label: 'Description:', as: :text %>
    <%= f.input :photos, as: :file %>
    <%= f.input :price, label: 'Free or paid?', collection: [['free', 'Free'], ['paid', 'Paid']], label_method: :second, value_method: :first, selected: 'Free' %>
    <%= f.input :risk_level, label: 'Safe to park?', collection: [['safe', 'Yes'], ['risky', 'No']], label_method: :second, value_method: :first, selected: 'Yes' %>
    <div class='d-flex justify-content-between'>
      <%= link_to "Go back", parkings_path, class: 'btn btn-cancel' %>
      <%= f.submit "Add this spot", class: 'btn btn-yellow' %>
    </div>
  <% end %>
</div>
