<div class='form-container'>
  <h2>Found a cool spot?</h2>
  <h5>Help the community and add yours</h5>
  <%= simple_form_for @parking, remote:true do |f| %>
    <%= f.input :name, label: 'Name your parking spot:' %>
    <%= f.input :description, label: 'Description:', as: :text %>
    <%= f.input :photos, as: :file %>
    <%= f.input :address, label: 'Address:', as: :text %>
    <div class="price-buttons">
      <%= f.input :price, label: '', as: :radio_buttons, collection: [['free', 'Free'], ['paid', 'Paid']], label_method: :second, value_method: :first, selected: 'Free' %>
    </div>
    <div class='d-flex justify-content-between submit-buttons'>
      <%= link_to "Back", parkings_path, class: 'btn btn-grey pad-btn' %>
      <%= f.submit "Add", class: 'btn btn-yellow pad-btn' %>
    </div>
  <% end %>
</div>