<div class="container p-0">
  <div class="map-search">
    <%= form_tag parkings_path, class: "form-inline", method: :get do %>
      <%= text_field_tag :query,
          params[:query],
          class: "form-control map-text-input",
          placeholder: "Search location"
        %>
      <%= submit_tag "Search", id: "search", class: "btn-yellow text-body" %>
    <% end %>
  </div>
  <div id="map" style="width: 100%; height: 600px;" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>" data-destination="<%= @destination %>">
  </div>
  <%= render 'pin_form' %>
  <div class="owl-carousel card-carousel">
    <% @parkings.each do |parking| %>
      <div data-id="<%= parking.id %>" class="card flex-row">
        <div class="card-image">
          <%= cl_image_tag(parking.photos.first.key, width: 160, height: 160, crop: :fill) %>
        </div>
        <div class="card-details d-flex flex-column pl-3 py-2">
          <p class="mb-2 font-weight-bold"><%= parking.name %></p>
          <p class="m-0 flex-grow-1"><i class="fas fa-map-marked-alt"></i> <%= parking.address %></p>
          <div class="card-action d-flex">
            <%= link_to parking_path(parking) do %>
          <p class="mb-0 mr-4"><i class="fas fa-info-circle"></i>View</p>
          <% end %>
          
          <%= link_to parkings_path(to_parking: parking.id) do %>
            <p class="mb-0 mr-2"><i class="fas fa-directions"></i>Direction</p>
          <% end %>
          </div>

        </div>
      </div>
    <% end %>
  </div>
</div>