<%= render 'shared/banner', parking: @parking.name, img_path: cl_image_path(@parking.photos.first.key) %>
<div class='container card mt-5'>
  <p><%= "Name: #{@parking.name}" %></p>
  <p><%= "Address: #{@parking.address}" %></p>
  <p><%= "Price: #{@parking.price}" %></p>
  <p><%= "User reviews: #{@parking.average_review_score} out of 5" %></p>
</div>
<div class="container mt-5 d-flex justify-content-center w-auto">
  <%= link_to "Directions", parkings_path(to_parking: @parking.id), class: 'btn btn-warning btn-direction' %>
</div>
<div>
  <div class ='container mt-5'>
    <h1><%= "#{@reviews.count} Reviews" %></h1>
  </div>
  <div>
    <%= render @reviews %>
  </div>
</div>
