<%= render 'shared/banner', img_path: cl_image_path(@parking.photos.first.key) %>
<div class='container card border-0'>
  <div class="card-show-info">
    <h4><b><%= @parking.name %></b></h4>
    <p><i class="fas fa-map-marked-alt"></i><%= @parking.address %></p>
    <p><i class="fas fa-hand-holding-usd"></i><%= @parking.free_or_paid %></p>
    <%= render 'average_rating' %>
  </div>
</div>
<div class="container btn-show-container">
  <%= link_to "Show directions", parkings_path(to_parking: @parking.id), class: 'btn btn-show' %>
  <%= link_to "Write a review", parkings_path(to_parking: @parking.id), class: 'btn btn-show' %>
</div>
<div>
  <div class ='container mt-4'>
    <%= render 'review_pluralize' %>
  </div>
  <div class="owl-carousel card-show-carousel">
    <%= render @reviews %>
  </div>
</div>
